//colors
$black: #000;
$white: #fff;

$green-32: #324d26;
$green-39: #39ae4e;
$green-31: #319443;
$green-8a: #8a998a;
$green-36: #36a249;

$gray-e8: #e8e8e8;
$gray-20: #20201e;
$gray-76: #767676;
$gray-d0: #d0d0d0;
$gray-38: #383836;
$gray-11: #111c0e;

$blue-3e: #3e5284;

//width
$w-container: 980px;
$w-header: 873px;
$w-wide: 1600px;