.page{
  &__header{
    @include bg-img-before(cover);
    padding-top: 194px;
    padding-bottom: 174px;
    text-align: center;
    color: $white;
  }
  &__header-content{
    position: relative;
  }
  &__h{
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 32px;
  }
  &__prev{
    font-size: 16px;
    line-height: 28px;
    max-width: 780px;
    margin: 0 auto;
  }
  &__clmns{
    margin: 0 30px;
    column-count: 2;
    column-gap: 60px;
    padding-top: 98px;
    padding-bottom: 129px;
    color: $gray-76;
    font-size: 16px;
    line-height: 28px;
    b{
      font-weight: bold;
      color: $gray-20;
    }
  }
}