script(src="https://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU")
script.
    ymaps.ready(init);
    function init () {
        var map = new ymaps.Map("map", {
            center: [64.55898183637967,39.86229936767573],
            zoom: 17
        });
        var placemark = new ymaps.Placemark([64.55940176574337,39.86491720367427], {
            balloonContent: 'г. Северодвинск, Грузовой проезд 25',
        }, {
            iconImageHref: 'images/balloon.png',
            iconImageSize: [50, 69],
            iconImageOffset: [-25,-60]
        });
        map.geoObjects.add(placemark);
    }