script(src="http://api-maps.yandex.ru/2.1/?lang=ru_RU")
script.
    ymaps.ready(init);
    var map;
    var data=[
            {
                "type": "Feature",
                "id": 0,
                "geometry": {"type": "Point", "coordinates": [64.55898183637967,39.86229936767573]},
                "properties": {
                    "balloonContentHeader": "<div>хедер</div>",
                    "balloonContentBody": "<div>боди</div>",
                    "balloonContentFooter": "<div>футер</div>"
                }
            },
            {
                "type": "Feature",
                "id": 2,
                "geometry": {"type": "Point", "coordinates": [64.51957355739123,40.68916399999999]},
                "properties": {
                    "balloonContentHeader": "<div>хедер</div>",
                    "balloonContentBody": "<div>боди</div>",
                    "balloonContentFooter": "<div>футер</div>"
                }
            },
            {
                "type": "Feature",
                "id": 3,
                "geometry": {"type": "Point", "coordinates": [64.56858905728994,40.522194]},
                "properties": {
                    "balloonContentHeader": "<div>хедер</div>",
                    "balloonContentBody": "<div>боди</div>",
                    "balloonContentFooter": "<div>футер</div>"
                }
            },

        ];
    function init () {
        map = new ymaps.Map("map", {
            center: [64.54474399237616,40.53689086012528],
            zoom: 12,
            controls: []
        });
        /*var placemark = new ymaps.Placemark([64.51957355739123,40.68916399999999], {
            balloonContent: 'г. Северодвинск, Грузовой проезд 25',
        }, {
            iconImageHref: 'images/balloon.png',
            iconImageSize: [50, 69],
            iconImageOffset: [-25,-60]
        });
        map.geoObjects.add(placemark);*/
        objectManager = new ymaps.ObjectManager({
            // Чтобы метки начали кластеризоваться, выставляем опцию.
            clusterize: true,
            // ObjectManager принимает те же опции, что и кластеризатор.
            gridSize: 32,
            clusterDisableClickZoom: true
        });

        objectManager.add(data);
        map.geoObjects.add(objectManager);
        objectManager.options.set({
            iconImageHref: 'images/balloon.png',
            iconImageSize: [50, 69],
            iconImageOffset: [-25, -60]
        });



    }
    function setCenter (x, y) {
        /*map.panTo([x, y],{
            delay: 1500
        });*/
        map.setCenter([x, y]);
       /* map.balloon.open([x, y], {
            // Опция: задержка перед открытием.
            openTimeout: 2000
        });*/
    }
    $(".map-objects__item").click(function () {
        $(this).addClass("active").siblings().removeClass("active");
    });

    $(".js-show-obj").click(function () {
        $(this).toggleClass("close");
        $(this).next().slideToggle();
    });