footer.footer
    .container
        .footer__line1
            .footer__col1
                a.footer__logo(href="/" style="background-image:url('images/logo.png');")
                .footer__prev.
                    Одна из крупнейших организаций в Архангельской области,
                    осуществляющая переработку отходов, металлов и
                    вторичное сырье
            //end .footer__col1
            .footer__col2
                .footer__bl
                    .footer__ttl Адрес
                    .footer__txt г. Северодвинск, Грузовой проезд 25
                .footer__bl
                    .footer__ttl Телефон
                    .footer__txt.
                        8 800 222-21-21<br>
                        8 (8184) 55-45-55
            //end .footer__col2
            .footer__col3
                .footer__bl
                    .footer__ttl Email
                    .footer__txt
                        a(href="mailto:info@ktagroup.ru") info@ktagroup.ru
                .footer__bl
                    .footer__ttl Мы в соц.сетях
                    .footer__ss
                        a.footer__vk(href="#" target="_blank")
                        a.footer__inst(href="#" target="_blank")
            //end .footer__col3
        //end .footer__line1
        .footer__line2
            .footer__copyright © 2017 КТА
            a.footer__f5(href="f5-studio.ru" target="_blank")
        //end .footer__line2
    //end .container