.page-contacts{
  padding-top: 36px;
  &__h{
    font-size: 36px;
    line-height: 48px;
    font-weight: bold;
    margin-bottom: 17px;
    color: $gray-20;
  }
}
.yandex-map-wrapper{
  position: relative;
  height: 680px;
  width: 100%;
  .container{
    position: relative;
  }
}
#map{
  background-color: $gray-76;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
.map-label{
  position: absolute;
  top: 90px;
  left: 0;
  background-color: $white;
  padding: 47px 30px 25px;
  width: 300px;
  box-sizing: border-box;
  &__bl{
    margin-bottom: 38px;
  }
  &__ttl{
    font-size: 14px;
    line-height: 22px;
    color: $gray-76;
  }
  &__txt{
    font-size: 18px;
    line-height: 28px;
    color: $gray-20;
  }
  &__link{
    color: $green-39;
    font-size: 16px;
    line-height: 48px;
    font-weight: bold;
    display: block;
    position: relative;
    &:after{
      content: '';
      width: 8px;
      height: 16px;
      display: block;
      background-image: url('images/pass2.png');
      background-repeat: no-repeat;
      background-position: 0 0;
      top: 17px;
      right: 0;
      position: absolute;
    }
    &:hover{
      color: $gray-20;
      &:after{
        background-position-y: -16px;
      }
    }
  }
}
.map-objects{
  position: absolute;
  top: 90px;
  left: 0;
  background-color: $white;
  width: 300px;
  box-sizing: border-box;
  &__ttl{
    background-color: $gray-20;
    color: $white;
    font-size: 16px;
    line-height: 70px;
    padding-left: 20px;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    &:after{
      content:"";
      width: 16px;
      height: 8px;
      position: absolute;
      display: block;
      top: 30px;
      right: 15px;
      background-image: url("images/pass3.png");
      background-repeat: no-repeat;
      transition: .5s;
    }
    &.close:after{
      transform: rotate(180deg);
    }
  }
  &__list{
    max-height: 420px;
    overflow-x: auto;
    cursor: pointer;
    &::-webkit-scrollbar{
      width: 7px;
    }
    &::-webkit-scrollbar-thumb{
      background-color: #319443;
      border-radius: 4px;
    }
  }
  &__addr{
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    color: $gray-20;
  }
  &__city{
    font-size: 14px;
    line-height: 22px;
    color: $gray-76;
  }
  &__item{
    padding: 15px 20px;
    border-bottom: 1px solid $gray-e8;
    background-color: $white;
    &.active{
      .map-objects__addr{
        color: $green-39;
      }
    }
  }
}
.baloon{
  font-family: 'Roboto';
  &__ttl{
    color: $gray-20;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  &__time,
  &__tel,
  &__email{
    color: $gray-76;
    font-size: 14px;
    line-height: 22px;
    padding-left: 30px;
    background-repeat: no-repeat;
    margin-bottom: 5px;
  }
  &__time{
    background-image: url('images/baloon-time.png');
  }
  &__tel{
    background-image: url('images/baloon-tel.png');
  }
  &__email{
    background-image: url('images/baloon-email.png');
  }
}