.page-resp{
  padding-bottom: 43px;
}
.resp-banner{
  @include bg-img-before(cover);
  padding-top: 142px;
  padding-bottom: 126px;
  margin-bottom: 60px;
  &__inner{
    color: $white;
    position: relative;
    max-width: 770px;
    margin: 0 auto;
    text-align: center;
  }
  &__ttl{
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  &__txt{
    font-size: 16px;
    line-height: 28px;
  }
}
.resp-slider{
  margin-top: 40px;
  margin-bottom: 40px;
}
.resp-txt{
  width: 780px;
  margin: 0 auto;
  color: $gray-76;
  font-size: 16px;
  line-height: 28px;
  p{
    margin-bottom: 30px;
  }
  b{
    font-weight: bold;
    color: $gray-20;
  }
  blockquote{
    font-weight: bold;
    color: $gray-20;
    font-size: 24px;
    line-height: 38px;
    padding-top: 62px;
  }
  strong{
    font-size: 24px;
    line-height: 38px;
    font-weight: bold;
    color: $gray-20;
  }
  cite{
    font-size: 16px;
    line-height: 38px;
    color: $gray-20;
  }
}