extends core/_template

append sharedVars
    - var activeMenu = 'Ответственность';
    - var noBorder = true;

block title
    title=activeMenu

block content
    .workarea
        .page.page-resp
            .container-w
                .page__header(style="background-image:url('https://picsum.photos/1600?image=1058')")
                    .page__header-content
                        .page__h
                            h1 КТА за чистую Арктику!
                        .page__prev.
                            Компания КТА имеет серьезную экологическую направленность.<br>
                            Несколько лет подряд организация занимается очисткой территорий в<br>
                            Арктике от металлолома
                //end .page__header
                .container
                    .page__clmns.
                        Сотрудники КТА неоднократно бывали в командировках в высоких широтах на Варандее, в Амдерме, в Норильске и на Чукотке. Во всех областях региона прослеживается одна и та же глобальная проблема загрязнения окружающей среды разного рода отходами. В том числе и металлоломом. Немалая часть этого «богатства» хранится в Арктике со времён существования Советского Союза, нарушая экологическое равновесие уже не одно десятилетие. И этот груз прошлого вполне
                        может ещё раз послужить человеку, если его грамотно утилизировать, а затем использовать как сырьё в производстве. Поэтому участие КТА в зачистке Арктики от металлолома вполне понятно и логично. Для этого есть огромное желание и возможности. <b>Восстановление нарушенных естественных экологических систем</b> является одной из центральных задач государственной политики в области экологического развития
                    //end .page__clmns

                .resp-banner(style="background-image:url('https://picsum.photos/1600?image=1059')")
                    .resp-banner__inner
                        .resp-banner__ttl Мыс Синькин Нос 2016
                        .resp-banner__txt.
                            В 2016 году компанией КТА была выполнена техническая и биологическая рекультивация участков в районе мыса Синькин Нос. Площадь работ составила – 18 Га, собрано металлолома – 3489 тонн 258 кг.

                .resp-txt
                    .quote
                        .quote__txt
                            blockquote.
                                «Сегодня разговор об экологических проблемах надо вести в наступательном и практическом ключе и выводить природоохранную работу на уровень системной, ежедневной обязанности государственной власти всех уровней»
                        .quote__autor
                            .quote__img(style="background-image:url('http://starworldnews.com/wp-content/uploads/Vladimir-Putin-300x300.jpg')")
                            .quote__name
                                cite  В. В. Путин.

                .resp-banner(style="background-image:url('https://picsum.photos/1600?image=1060')")
                    .resp-banner__inner
                        .resp-banner__ttl Остров Колгуев 2017
                        .resp-banner__txt.
                            Летом 2017 компания КТА занималась сбором металлолома на острове<br>
                            Колгуеве. К трудностям Арктики мы готовились заранее.

                .resp-txt
                    p Организации предстояло не только собрать металлолом, его нужно было разрезать на месте, после чего прямо из приполярного региона отправить на экспорт. Именно такая логистическая цепочка позволяла нам исключить лишние затраты на транспортировку груза, а значит, сделать для предприятия экспедицию в Арктику рентабельной.

                    p <b>Главная цель: полная очистка территорий.</b>

                    p Поставленные задачи перед компанией КТА крайне актуальны, поскольку основную часть загрязненных территорий занимают оленьи пастбища. Решение этой проблемы для руководства округа является одной из первостепенных задач в деле сохранения и развития традиционной отрасли – оленеводства.

                    p Что примечательно, <b>финансирование выполняемых работ компания КТА осуществляет самостоятельно</b>, не привлекая бюджетные источники, что не только положительно сказывается на экономике округа, но прежде всего, ускоряет сам процесс реализации мер государственной политики по ликвидации последствий загрязнения и иного негативного воздействия на окружающую среду. 

                    p Результатом такой плодотворной работы является сохранение окружающей среды и, как следствие, улучшение качества жизни населения округа, а также создание новых рабочих мест для местного населения, непосредственно привлекаемого к выполнению столь важных мероприятий.

                    p На сегодняшний момент на о. Колгуев – очищена территория размером 50 Га, собрано 5000 тонн металлолома.

                    br
                    br
                    br
                    br

                .resp-banner(style="background-image:url('https://picsum.photos/1600?image=1061')")
                    .resp-banner__inner
                        .resp-banner__ttl п. Амдерма. 2017
                        .resp-banner__txt.
                            В начале 2017 года компания «КТА» приступила к очистке поселка Амдерма от накопленных<br>
                            за многие годы отходов металлического лома. Цель такой рекультивации: полная очистка<br>
                            поселка и прилегающих территорий к нему

                .resp-txt
                    p В планах компании «КТА» выполнить поставленную задачу в ближайшие 2-3 года. Стоит отметить, что это, пожалуй, самая масштабная акция такого рода в НАО.

                    p Что немаловажно, данная программа поможет трудоустроить местных жителей, обеспечив достойную заработную плату.

                    p Общая площадь территорий подлежащих рекультивации около 90000 км2. В настоящий момент очищено порядка 3500 тонн, площадь работ заняла 2500 км2. Работы планируется вести  круглогодично, так как техника и обмундирование сотрудников позволяет это делать.

                    p Помимо уборки приполярных территорий КТА строит в посёлке Амдерма спортзал.

                    br
                    br
                    br

                    strong.
                        В соответствии с заключенными муниципальными контрактами,
                        компания КТА выполняет работы по благоустройству территорий,
                        созданию транспортной инфраструктуры, демонтажу жилых домов.


                .resp-slider
                    .container
                        .detail-slider.noborder
                            .swiper-wrapper
                                - for (var i=1; i<4; i++)
                                    .swiper-slide
                                        .detail-slider__item
                                            .detail-slider__img(style="background-image:url('https://picsum.photos/1000/1000?image=64" + i + "')")
                                            .detail-slider__ttl Андрей Карасов: «Вернем все преимущества жизни в приполярных регионах!»
                            .swiper-button-next.detail-slider__next
                            .swiper-button-prev.detail-slider__prev
                //end .resp-slider
        //end .page
    //end workarea